@charset "UTF-8";

/*
Color pallet
#675854 - lighter
#553B36 - light
#1D1D1D - darker
*/ 
@media screen and (max-width: 767px) {  /* Mobile devices */
    section#login {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    
    #form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        font-size: 1em;
        padding: 20px;
        gap: 10px;
    }

    .campo,
    .typeInputs {
        height: 25px;
        width: 100%;
    }

    .logInButton {
        height: 25px;
        width: 100%;
    }

    .button {
        height: 25px;
        border: none;
        text-decoration: underline;
        font-size: 0.7em;
        text-align: center;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { /* tablets */
    body {
        background-image: linear-gradient(to top, #1d1d1d, #675854);
    }
    section#login {
        display: flex;
        justify-content: center;
        width: 100vw;
        max-width: 600px;
        height: 280px;
        margin: 0 auto;
        overflow: hidden;
    }

    #image {
        float: left;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
        font-size: 1em;
        padding: 20px;
        gap: 8px;
    }
    .campo,
    .typeInputs {
        height: 30px;
        width: 100%;
    }

    .logInButton {
        height: 30px;
        width: 100%;
    }

    .button {
        height: 30px;
        padding: 2px 2px;
    }
}

@media screen and (min-width: 992px) {   /* Desktop and larger screens */
    body {
        background-image: linear-gradient(to top, #1d1d1d, #675854);
    }

    section#login {
        width: 950px;
        height: 350px;
    }
    section#login > div#image {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form {
        float: left;
        width: 50%;
        font-size: 1.6em;
    }
    div#form > h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    div#form > p {
        font-size: 0.8em;
        text-align: center;
    }
} 
